<div class="span8">
    <article>
        <div class="row">
            <div class="span8">
                <h4>Sobre Nosotros</h4>
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                1. Inicio </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <p>
                                    Iniciado a principios del año 2017, el Centro de Observación Astronómica y Museo Espacial, es una fundación sin de fines lucro que persigue la divulgación astronómica y científica en conjunto con otras entidades.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                2. Equipamiento </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <p>
                                    El grupo COAME cuenta con los siguientes equipos:

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                3. Función </a>
                        </div>
                        <div id="collapseThree" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <p>
                                    Aca describimos un poco la funcion del grupo, tal como osbservacion, divulgación, eventos cientificos, Prestar ayuda y asesoramiento a otras instituciones interesadas en la investigación sobre radioastronomía. Colaborar con otros grupos


                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                4. Integrantes </a>
                        </div>
                        <div id="collapseFour" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <p>
                                    Integrantes de COAME: German Mandile. Silvio Minetti. Agustin Manuela Tabia. Oscar Ghisolfi.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                5. Equipamiento </a>
                        </div>
                        <div id="collapseFive" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <p>
                                    El grupo COAME cuenta con los siguientes equipos:

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                6. contactos </a>
                        </div>
                        <div id="collapseSix" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <p>
                                    Aca ponemos los contactos
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </article>>
</div>