<div class="span8">

    <div class="row">
        <div class="span8">
            <article class="post">
                <header>
                    <div class="title">
                        <h3><a href="#"> {{informaciones.titulo}} </a></h3>
                        <h6>
                            <p> {{informaciones.subTitulo}}</p>
                        </h6>
                    </div>
                    <div class="meta">

                        <!-- <time style="position: absolute;right: 20px;">{{informaciones.fecha}} </time> -->
                    </div>
                    <!-- start flexslider -->


                    <div class="span8" style="width: 60%">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="../../../../assets/img/coame/{{fotos[0]}}" alt="{{titulos[0]}}">
                                </li>
                                <li>

                                    <img src="../../../../assets/img/coame/{{fotos[1]}}" alt="{{titulos[1]}}">
                                </li>
                                <li>
                                    <img src="../../../../assets/img/coame/{{fotos[2]}}" alt="{{titulos[2]}}">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end flexslider -->
                    <hr> {{informaciones.descripcion}}
                    <hr>

                </header>
            </article>
        </div>
        <div class="pagination">
            <ul>
                <button (click)="moverse(-1)" class="btn btn-small btn-lg active">Previo</button>
                <button (click)="moverse(1)" class="btn btn-small btn-lg active">Próximo</button>
            </ul>

        </div>
    </div>

</div>